/* Max width 767px */
@media (max-width: 767px) {
  .ptb-100 {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .pt-100 {
    padding-top: 50px;
  }
  .pb-100 {
    padding-bottom: 50px;
  }
  .pt-70 {
    padding-top: 20px;
  }
  .pb-70 {
    padding-bottom: 20px;
  }
  .ptb-70 {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .option-item {
    display: none;
  }
  a.logo {
    max-width: 25%;
  }
  .banner-area {
    padding-top: 120px;
    padding-bottom: 0px;
  }
  .banner-area .banner-content h1 {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  .banner-area .banner-content a {
    margin-top: 20px;
  }
  .features-area {
    margin-top: unset;
    padding: 30px 0;
  }
  .banner-img {
    margin-top: 25px;
  }
  .features-area .content h2 {
    padding: 10px 10px;
    font-size: 23px;
  }
  .single-feature {
    margin-bottom: 15px;
  }
  .section-title {
    margin-bottom: 30px;
  }
  .section-title h2 {
    font-size: 28px;
    margin-bottom: 10px;
  }
  .single-video {
    margin-bottom: 20px;
  }
  .footer-area {
    text-align: center;
  }
  .footer-area .single-footer-widget .logo a {
    margin: 0 auto;
  }
  .content {
    margin: 0 auto;
  }
  .copyright-area .text-right {
    text-align: center !important;
  }
  ul.payments {
    margin-top: 20px;
  }
  .footer-area .copyright-area p {
    text-align: center;
  }
  .owl-nav {
    display: none;
  }
  .partner-area .section-title {
    margin-bottom: 20px;
  }
  .partner-area {
    padding-bottom: 50px;
  }
  .partner-area .owl-dots {
    bottom: -30px;
  }
  .single-merchant {
    margin-bottom: 20px;
  }
  .page-title-area {
    padding-top: 100px;
    padding-bottom: 40px;
  }
  .page-title-area .page-title-content h2 {
    margin-bottom: 5px;
    font-size: 35px;
  }
  .contact-content h2 {
    margin-bottom: 0px;
    font-size: 30px;
  }
  .contact-form h2 {
    margin-bottom: 15px;
    font-size: 35px;
  }
  .navbar-area .others-option a img {
    max-width: 28%;
  }
  .navbar-area .others-option a img {
    max-width: 25%;
    margin-left: 3px;
    margin-right: 0;
  }
  .navbar-area .others-option .header-social {
    top: 13px;
    width: 30px;
    height: 30px;
    line-height: 36px;
    top: 20px;
    padding: 2px 3px;
    right: 30%;
  }
  .navbar-area .others-option .header-social-youtube {
    right: 13%;
    background: #ff0000;
  }
  .banner-content h2 {
    margin-top: 15px;
  }
  .navbar-area .others-option {
    margin-left: 0;
  }
}

/* Min width 576px to Max width 767px */
/* Min width 768px to Max width 991px */
@media (min-width: 768px) and (max-width: 991px) {
  .navbar-area .others-option {
    margin-left: 0;
  }
  .ptb-70 {
    padding-top: 10px;
    padding-bottom: 50px;
  }
  .pt-100 {
    padding-top: 50px;
  }
  .pb-100 {
    padding-bottom: 50px;
  }
  .pt-70 {
    padding-top: 20px;
  }
  .pb-70 {
    padding-bottom: 20px;
  }
  .option-item {
    display: none;
  }
  .owl-nav {
    display: none;
  }
  .partner-area .section-title {
    margin-bottom: 20px;
  }
  .contact-content h2,
  .contact-form h2 {
    margin-bottom: 5px;
    font-size: 32px;
  }
  .page-title-area {
    padding-top: 110px;
    padding-bottom: 45px;
  }
  a.logo {
    max-width: 13%;
  }
  .section-title {
    margin-bottom: 40px;
  }
  .section-title h2 {
    font-size: 35px;
  }
  .navbar-area .others-option a img {
    max-width: 15%;
    float: left !important;
  }
  .navbar-area .others-option .header-social {
    top: 13px;
    width: 30px;
    height: 30px;
    line-height: 36px;
    top: 20px;
    padding: 2px 3px;
    right: 20%;
  }
  .navbar-area .others-option .header-social-youtube {
    right: 13%;
    background: #ff0000;
  }
}

/* Min width 992px to Max width 1200px */
@media (min-width: 992px) and (max-width: 1199px) {
  .offset-lg-1 {
    margin-left: 55px;
  }
  .features-area .content h2 {
    padding: 20px 15px;
    font-size: 22px;
  }
  .banner-area {
    padding-top: 160px;
    padding-bottom: 200px;
  }
  .features-area {
    position: relative;
    margin-top: -160px;
  }
  .banner-area .banner-content h1 {
    font-size: 45px;
  }
  .partner-area .owl-carousel .owl-nav button {
    left: -40px;
  }
  .partner-area .owl-carousel .owl-nav button.owl-next {
    right: -40px;
  }
  .page-title-area {
    padding-top: 110px;
    padding-bottom: 65px;
  }
  .navbar-area .others-option {
    margin-left: -3px;
  }
  .navbar-area .main-nav .navbar ul {
    padding-left: 0;
    list-style-type: none;
    margin-bottom: 0;
    margin-left: 40px;
  }
}

/* Min width 1200px to Max width 1349px */
/* Max width 1800px */
@media only screen and (min-width: 1800px) {
  .header-area .container-fluid {
    max-width: 1470px;
    padding-left: 0;
    padding-right: 0;
  }
  .navbar-area .main-nav .container-fluid {
    max-width: 1470px;
    padding-left: 0;
    padding-right: 0;
  }
}

/* Max width 991px Only Mobile Devices */
@media only screen and (max-width: 991px) {
  .mobile-nav {
    display: block;
  }
  .mobile-nav .logo {
    text-decoration: none;
    position: absolute;
    top: 2px;
    z-index: 999;
    left: 15px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 20px;
  }
  .mean-container .mean-bar {
    background-color: #fff;
    padding: 5px 0;
    -webkit-box-shadow: 1px 20px 20px 3px rgba(0, 0, 0, 0.05);
    box-shadow: 1px 20px 20px 3px rgba(0, 0, 0, 0.05);
  }
  .mean-container a.meanmenu-reveal {
    padding: 15px 15px 0 0;
  }
  .mobile-nav nav .navbar-nav .nav-item a i {
    display: none;
  }
  .main-nav {
    display: none !important;
  }
  .mean-container a.meanmenu-reveal span {
    margin-top: -5px;
  }
  .mobile-nav nav .navbar-nav {
    height: 395px;
    overflow-y: scroll;
  }
}
/*# sourceMappingURL=responsive.css.map */